<h2>Groups of <%= params[:count].to_i %></h2>
<ol>
  <% @groups.each_with_index do |group, index| %>
    <li>
      <%= group.join(", ") %>
    </li>
  <% end %>
</ol>
<input type="button" value="Gimme another group!" onClick="window.location.reload()">
<button type="button" id="back-button" value="< Back" onClick="window.history.go(-1)">< Back</button>
