<h2><%= @student %> will answer the question!</h2>
<input type="button" value="Gimme another student!" onClick="window.location.reload()">
<hr />
<h2>Group selections</h2>
<p>
  How big should each group be?
</p>
<form action="/" method="post">
  <input type="text" name="groups" placeholder="groups of..."/>
  <input type="submit" />
</form>
