<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Randomizer-A-Tron 5000!</title>
    <script type="text" src="/public/main.js"></script>
  </head>
  <body>
    <h1>Portsmouth Randomizer-A-Tron 5000!</h1>
    <hr/>
    <%= yield %>
    <hr/>

  </body>
</html>
